@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --clr-neutral-1: hsl(226, 43%, 10%);
    --clr-neutral-2: hsl(235, 46%, 20%);
    --clr-neutral-3: hsl(235, 45%, 61%);
    --clr-neutral-4: hsl(236, 100%, 87%);

    --ff-rubik: "Rubik", sans-serif;

    --fw-light: 300;
    --fw-normal: 400;
    --fw-bold: 500;

    --bg-card-avatar: hsl(246, 80%, 60%);
    --bg-card-work: hsl(15, 100%, 70%);
    --bg-card-play: hsl(195, 74%, 62%);
    --bg-card-study: hsl(348, 100%, 68%);
    --bg-card-exercise: hsl(145, 58%, 55%);
    --bg-card-social: hsl(264, 64%, 52%);
    --bg-card-selfcare: hsl(43, 84%, 65%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: var(--ff-rubik);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
    gap: 1.5rem;
    background-color: var(--clr-neutral-1);
}

.container-user {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--clr-neutral-2);
}

.container-user .avatar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.75rem;
    border-radius: inherit;
    color: white;
    background-color: var(--bg-card-avatar);
}

.container-user .avatar img {
    width: 4rem;
    height: 4rem;
    border: 3px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.container-user .avatar h1 {
    font-size: 1.3rem;
    font-weight: var(--fw-light);
}

.container-user .avatar h1 > span {
    font-size: 0.85rem;
    font-weight: var(--fw-normal);
    color: var(--clr-neutral-4);
}

.container-user .btn-container {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn {
    font: inherit;
    flex: 1 0 0%;
    color: var(--clr-neutral-3);
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.2s ease;
}

.btn:where(.active, :hover) {
    color: white;
}

.container-stats {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card {
    color: white;
    border-radius: 1rem;
}

.card .card-top {
    position: relative;
    padding: 1.2rem;
    overflow: hidden;
}

.card-top img {
    position: absolute;
    top: -0.7rem;
    right: 0.75rem;
}

.card-btm {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 2rem;
    border-radius: inherit;
    background-color: var(--clr-neutral-2);
    transition: background-color  0.2s ease-in-out;
}

.card-btm:hover {
    cursor: pointer;
    background-color: var(--clr-neutral-3);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h2 {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
}

.stats-amt-daily, 
.stats-amt-weekly, 
.stats-amt-monthly {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats-amt-weekly, 
.stats-amt-monthly {
    display: none;
}

.hours  {
    font-size: 2rem;
    font-weight: var(--fw-light);
}


.previous {
    font-size: 0.8rem;
    color: var(--clr-neutral-4);
}

.card:nth-child(1) {
    background-color: var(--bg-card-work);
}

.card:nth-child(2) {
    background-color: var(--bg-card-play);
}

.card:nth-child(3) {
    background-color: var(--bg-card-study);
}

.card:nth-child(4) {
    background-color: var(--bg-card-exercise);
}

.card:nth-child(4) .card-top img {
    top: 0;
}

.card:nth-child(5) {
    background-color: var(--bg-card-social);
}

.card:nth-child(6) {
    background-color: var(--bg-card-selfcare);
}